#widget_meedget {
    color: #999999;
    /*font-family: "Raleway",sans-serif;*/
    font-weight: 400;
    text-rendering: optimizelegibility;
    overflow: hidden;
}

#widget_meedget {
    font-family: arial;
    font-size: 14px;
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 10000;
}

#meedget_block, #meedget_block div, #widget_meedget, a.close_meedget {
    box-sizing: content-box;
}

#widget_meedget {
    opacity: 0.9;
}

#widget_meedget ul {
    margin: 0;
    padding: 0;
}

#widget_meedget ul > li, p.h2 {
    text-transform: uppercase;
}

#widget_meedget ul > li {
    background: rgb(15, 138, 99) none repeat scroll 0 0;
    border-left: 1px solid rgb(35, 158, 119);
    border-top: 1px solid rgb(35, 158, 119);
    box-sizing: border-box;
    color: #444;
    font-weight: 700;
    list-style: outside none none;
    margin: 0;
    padding: 17px;
    text-decoration: none;
    width: 100%;
}

#widget_meedget ul > li {
    text-align: left;
}

#widget_meedget ul > li, #widget_meedget ul > li > a, a.close_meedget, a.meedget_back_link, a.meedget_call_link, a.meedget_next, a.meedget_prev, a.open_meedget {
    border-bottom-style: none;
}

#widget_meedget ul > li, a.close_meedget {
    line-height: normal;
}

#widget_meedget.roundcorner ul > li:first-child {
    border-top-left-radius: 13px;
}

#widget_meedget ul > li, a.close_meedget {
    line-height: normal;
}

a, a.inverted, a.white {
    color: #e14d43;
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
    transition: all 0.35s ease 0s;
}

a.meedget_calc {
    border-bottom: 0 none;
}

#widget_meedget ul > li, #widget_meedget ul > li > a, a.close_meedget, a.meedget_back_link, a.meedget_call_link, a.meedget_next, a.meedget_prev, a.open_meedget {
    border-bottom-style: none;
}

#widget_meedget.meedgetwhite ul > li > a {
    background-image: url("https://meedget.ru/images/menu_icon2.png");
    background-repeat: no-repeat;
    color: #fff;
    padding: 17px 0 17px 17px;
}

#widget_meedget ul > li > a {
    background-image: url("https://meedget.ru/images/menu_icon.png");
    background-repeat: no-repeat;
    color: #444;
    padding: 17px 0 17px 37px !important;
    text-decoration: none;
    width: 100%;
}

#widget_meedget.meedgetwhite a, #widget_meedget.meedgetwhite ul > li span {
    color: #fff;
}

#widget_meedget.meedgetwhite a, #widget_meedget.meedgetwhite ul > li span {
    color: #fff;
}

#widget_meedget span {
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#widget_meedget ul > li span {
    color: #444;
}

#widget_meedget.meedgetwhite a, #widget_meedget.meedgetwhite ul > li span {
    color: #fff;
}

#widget_meedget.roundcorner ul > li:last-child {
    border-bottom-left-radius: 13px;
}

a.meedget_gallery {
    background-position: 0 -162px;
}

/* close_meedget */
#widget_meedget.roundcorner a.close_meedget {
    border-bottom-left-radius: 10px;
}

#widget_meedget.meedgetwhite a.close_meedget {
    background-position: 7px -344px;
}

#widget_meedget.meedgetwhite a.close_meedget, #widget_meedget.meedgetwhite a.open_meedget, #widget_meedget.meedgetwhite.meedgetleft a.close_meedget, #widget_meedget.meedgetwhite.meedgetleft a.open_meedget {
    background-image: url(https://meedget.ru/images/menu_icon2.png) !important;
    color: #FFF !important;
}

#widget_meedget ul > li, a.close_meedget {
    line-height: normal !important;
}

a.close_meedget {
    background-position: 7px -344px;
    color: #444;
    height: 23px;
    font-size: 15px;
    font-weight: 400;
    padding: 4px 10px 0 27px !important;
    margin: -1px 0 0 !important;
}

a.close_meedget, a.open_meedget {
    float: right !important;
    background-color: rgb(15, 138, 99) !important;
    border-left: 1px solid rgb(35, 158, 119) !important;
    border-bottom: 1px solid rgb(35, 158, 119) !important;
    background-image: url(https://meedget.ru/images/menu_icon.png);
    text-decoration: none !important;
    background-repeat: no-repeat;
}

#widget_meedget ul > li, #widget_meedget ul > li > a, a.close_meedget, a.meedget_back_link, a.meedget_call_link, a.meedget_next, a.meedget_prev, a.open_meedget {
    border-bottom-style: none !important;
}

#meedget_block, #meedget_block div, #widget_meedget, a.close_meedget {
    box-sizing: content-box !important;
}

/* //close_meedget */

/* open_meedget */
#widget_meedget.roundcorner a.open_meedget {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#widget_meedget.meedgetwhite a.open_meedget {
    background-position: 7px -317px;
}

#widget_meedget.meedgetwhite a.close_meedget, #widget_meedget.meedgetwhite a.open_meedget, #widget_meedget.meedgetwhite.meedgetleft a.close_meedget, #widget_meedget.meedgetwhite.meedgetleft a.open_meedget {
    background-image: url(https://meedget.ru/images/menu_icon2.png) !important;
    color: #FFF !important;
}

a.open_meedget {
    line-height: normal !important;
    background-position: 7px -317px;
    border-top: 1px solid rgb(35, 158, 119) !important;
    padding: 27px 0 0 27px !important;
    margin: 0 !important;
}

a.close_meedget, a.open_meedget {
    float: right !important;
    background-color: rgb(15, 138, 99) !important;
    border-left: 1px solid rgb(35, 158, 119) !important;
    border-bottom: 1px solid rgb(35, 158, 119) !important;
    background-image: url(https://meedget.ru/images/menu_icon.png);
    text-decoration: none !important;
    background-repeat: no-repeat;
}

#widget_meedget ul > li, #widget_meedget ul > li > a, a.close_meedget, a.meedget_back_link, a.meedget_call_link, a.meedget_next, a.meedget_prev, a.open_meedget {
    border-bottom-style: none !important;
}

/* //open_meedget */

#meedget_popup {
    position: absolute !important;
    width: 100% !important;
    min-height: 100% !important;
    z-index: 9998 !important;
    top: 0;
}

#meedget_block, #meedget_carousel-wrapper, #widget_meedget, .meedget_center, .meedget_copy, .meedget_images {
    overflow: hidden !important;
}

#meedget_block, #meedget_carousel-wrapper, #widget_meedget, .meedget_center, .meedget_copy, .meedget_images {
    overflow: hidden !important;
}

#meedget_block {
    position: relative !important;
    /*width: 472px !important;*/
    max-width: 490px !important;
    width: 50% !important;
    background: #fff !important;
    border: 3px solid rgb(15, 138, 99) !important;
    padding: 23px 76px 0 !important;
    margin: 3% auto !important;
}

#meedget_block {
    font-family: Arial;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

#meedget_block.roundcorner {
    border-radius: 13px;
}

a.meedget_close_link {
    margin-right: 20px !important;
    z-index: 999 !important;
}

a.meedget_close_link {
    position: absolute !important;
    right: 0 !important;
    background: url(https://meedget.ru/images/close_icon.png) no-repeat !important;
    padding: 25px 25px 0 0 !important;
    margin: 0 29px 0 0 !important;
}

#meedget_block h2 {
    color: #444 !important;
    font-size: 32px !important;
    font-family: 'Open Sans Light', 'Open Sans', Arial !important;
    font-weight: 100 !important;
    line-height: normal !important;
    margin: 33px 0 0 !important;
    padding: 0 !important;
}

#meedget_block, #meedget_block div, #widget_meedget, a.close_meedget {
    box-sizing: content-box !important;
}

#meedget_block div {
    float: left !important;
    width: 100%;
}

#meedget_block input, .meedget_copy p, .meedget_step {
    font-family: 'Open Sans Light','Open Sans',Arial !important;
}

.meedget_step {
    height: 31px !important;
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 100 !important;
    background: url(https://meedget.ru/images/meedget_step.png) right no-repeat rgb(15,138,99) !important;
    padding: 6px 19px 0 85px !important;
    margin: 19px 0 0 -85px !important;
    width: 25% !important;
    position: relative;
}

.step_arrow {
    position: absolute !important;
    right: 0;
    top: 0;
    width: 0 !important;
    background: #fff;
    height: 0;
    border: 19px solid transparent;
    border-left-color: rgb(15,138,99);
    border-right: 0;
}

.meedget_inner {
    width: 100%;
    clear: both;
    float: left !important;
}

#meedget_block h3, #meedget_block ul {
    color: #666 !important;
    line-height: 22px !important;
}

#meedget_block h3 {
    font-size: 18px !important;
    font-family: 'Open Sans Semibold','Open Sans' !important;
    font-weight: 600 !important;
    margin: 19px 0 9px !important;
}

#meedget_block p, p.meedget_h2, p.meedget_h3 {
    padding: 0 !important;
}

#meedget_block, #meedget_carousel-wrapper, #widget_meedget, .meedget_center, .meedget_copy, .meedget_images {
    overflow: hidden !important;
}

.meedget_center {
    display: table !important;
    margin: 0 auto !important;
}

#meedget_block, #meedget_block div, #widget_meedget, a.close_meedget {
    box-sizing: content-box !important;
}

#meedget_block div {
    float: left !important;
    width: 100%;
}

.meedget_block img {
    float: left !important;
    max-width: 110px !important;
    max-height: 110px !important;
    margin: 0 15px !important;
    border: 1px dotted rgb(15,138,99) !important;
    padding: 10px;
    cursor: pointer;
}

#meedget_block img {
    border: none !important;
}

.meedget_block input {
    margin: 10px 17px 0 0 !important;
}

#meedget_block input, .meedget_copy p, .meedget_step {
    font-family: 'Open Sans Light','Open Sans',Arial !important;
}

#meedget_block input {
    float: left !important;
    height: 40px !important;
    color: #b4b4b4 !important;
    font-size: 16px !important;
    font-weight: 100 !important;
    border: 2px solid #b4b4b4 !important;
    border-radius: 3px !important;
    padding: 0 7px !important;
    margin: 25px 17px 0 0;
}

#meedget_block input[type="checkbox"], #meedget_block input[type="radio"] {
    display: none !important;
}

#meedget_block input[type="checkbox"], #meedget_block input[type="radio"] {
    margin-left: 59px !important;
}

.meedget_label_radio label {
    font-size: 16px !important;
    color: #444 !important;
    cursor: pointer !important;
    padding: 1px 0 2px 22px !important;
    margin-top: -2px !important;
    margin-bottom: 12px !important;
    margin-right: 25px !important;
}

#meedget_block label, a.meedget_back_link, a.meedget_prev {
    float: left !important;
}

#meedget_block label {
    font-size: 15px !important;
    color: #444 !important;
}

#meedget_block label, .meedget_label_radio label {
    clear: none !important;
}

#meedget_block a, #meedget_block label, #meedget_block ol, #meedget_block sup, #meedget_block ul, .meedget_copy a, .meedget_copy p, .meedget_label_radio label {
    font-weight: 400 !important;
}

#meedget_block label {
    line-height: 24px;
    margin-left: 10px;
    height: 72px;
}

#meedget_block input[type="checkbox"] + label, #meedget_block input[type="radio"] + label {
    text-align: center !important;
    padding: 50px 0 0 !important;
    width: 100%;
    float: left !important;
    font-family: 'Open Sans Light','Open Sans',Arial !important;
    cursor: pointer !important;
}

#meedget_block input[type="radio"] + label {
    background: url(https://meedget.ru/images/radio_icon.png) no-repeat !important;
    color: #666 !important;
}

#meedget_block input[type="radio"]:checked + label {
    color: rgb(15,138,99) !important;
    font-family: 'Open Sans Light','Open Sans',Arial !important;
    background: url(https://meedget.ru/images/radio_active_icon.png) no-repeat !important;
}

#meedget_block h3, #meedget_block ul {
    color: #666 !important;
    line-height: 22px !important;
}

#meedget_block h3 {
    font-size: 18px !important;
    font-family: 'Open Sans Semibold','Open Sans' !important;
    font-weight: 600 !important;
    margin: 19px 0 9px !important;
}

#meedget_block p, p.meedget_h2, p.meedget_h3 {
    padding: 0 !important;
}

#meedget_block, #meedget_carousel-wrapper, #widget_meedget, .meedget_center, .meedget_copy, .meedget_images {
    overflow: hidden !important;
}

.meedget_center {
    display: table !important;
    margin: 0 auto !important;
}

#meedget_block, #meedget_block div, #widget_meedget, a.close_meedget {
    box-sizing: content-box !important;
}

#meedget_block div {
    float: left !important;
    width: 100%;
}

.meedget_block img {
    float: left !important;
    max-width: 110px !important;
    max-height: 110px !important;
    margin: 0 15px !important;
    border: 1px dotted rgb(15,138,99) !important;
    padding: 10px;
    cursor: pointer;
}

#meedget_block img {
    border: none !important;
}

.meedget_label_radio label {
    font-size: 16px !important;
    color: #444 !important;
    cursor: pointer !important;
    padding: 1px 0 2px 22px !important;
    margin-top: -2px !important;
    margin-bottom: 12px !important;
    margin-right: 25px !important;
}

#meedget_block label, a.meedget_back_link, a.meedget_prev {
    float: left !important;
}

#meedget_block label {
    font-size: 15px !important;
    color: #444 !important;
}

#meedget_block label, .meedget_label_radio label {
    clear: none !important;
}

#meedget_block a, #meedget_block label, #meedget_block ol, #meedget_block sup, #meedget_block ul, .meedget_copy a, .meedget_copy p, .meedget_label_radio label {
    font-weight: 400 !important;
}

#meedget_block label {
    line-height: 24px;
    margin-left: 10px;
}

#meedget_block input[type="checkbox"] + label, #meedget_block input[type="radio"] + label {
    text-align: center !important;
    padding: 50px 0 0 !important;
    width: 100%;
    float: left !important;
    font-family: 'Open Sans Light','Open Sans',Arial !important;
    cursor: pointer !important;
}

#meedget_block input[type="radio"] + label {
    background: url(https://meedget.ru/images/radio_icon.png) no-repeat !important;
    color: #666 !important;
}

.meedget_block {
    width: 148px !important;
    margin: 15px 14px 0 0 !important;
}

#meedget_block .meedget_block img {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

#meedget_block label {
    margin: 0 !important;
}

.meedget_copy {
    background: #dedede none repeat scroll 0 0;
    height: 32px;
    margin: 50px 0 0 -85px;
    width: 682px;
}

.meedget_copy {
    width: 682px !important;
    height: 32px !important;
    background: #dedede !important;
    margin: 50px 0 0 -85px !important;
}

.meedget_copy {
    font-size: 12px !important;
    padding: 6px 0 0 !important;
}

.meedget_copy {
    float: left !important;
    border-top: 1px solid #e8e9eb !important;
}

#meedget_block, #meedget_carousel-wrapper, #widget_meedget, .meedget_center, .meedget_copy, .meedget_images {
    overflow: hidden !important;
}

.meedget_block p, .meedget_copy p {
    text-align: center !important;
}

#meedget_block a, #meedget_block label, #meedget_block ol, #meedget_block sup, #meedget_block ul, .meedget_copy a, .meedget_copy p, .meedget_label_radio label {
    font-weight: 400 !important;
}

#meedget_block input, .meedget_copy p, .meedget_step {
    font-family: 'Open Sans Light','Open Sans',Arial !important;
}

.meedget_copy p {
    font-size: 13px !important;
    color: #B2B2B2 !important;
    margin-right: 40px !important;
    font-weight: 100 !important;
    margin-top: 6px !important;
}

#meedget_block p, p.meedget_h2, p.meedget_h3 {
    padding: 0 !important;
}

a {
    color: #0069d6;
    text-decoration: none;
}

a, a.inverted, a.white {
    cursor: pointer;
    color: #E14D43;
    text-decoration: none;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    outline: none;
}

#meedget_block label, a.meedget_back_link, a.meedget_prev {
    float: left !important;
}

a.meedget_back_link {
    font-size: 14px !important;
    background: url(https://meedget.ru/images/back_link_icon.png) left no-repeat !important;
    text-decoration: none !important;
    padding-left: 17px !important;
    margin-top: 12px !important;
}

a.meedget_back_link {
    margin: 12px 0;
}

a.meedget_back, button.meedget_step_button {
    font-size: 18px !important;
    font-weight: 100 !important;
}

a.meedget_back {
    float: left !important;
    color: #444 !important;
    font-family: 'Open Sans Light','Open Sans',Arial !important;
    background: url(https://meedget.ru/images/back_icon.png) left no-repeat !important;
    padding: 0 0 0 17px !important;
    text-decoration: none !important;
    margin: 35px 17px 0 0 !important;
}

#meedget_block a {
    color: #444 !important;
    text-decoration: none !important;
}

#meedget_block a, #meedget_block label, #meedget_block ol, #meedget_block sup, #meedget_block ul, .meedget_copy a, .meedget_copy p, .meedget_label_radio label {
    font-weight: 400 !important;
}

#meedget_block a {
    color: #444 !important;
    text-decoration: none !important;
}

#meedget_block a, #meedget_block label, #meedget_block ol, #meedget_block sup, #meedget_block ul, .meedget_copy a, .meedget_copy p, .meedget_label_radio label {
    font-weight: 400 !important;
}

a.meedget_back, button.meedget_step_button {
    font-size: 18px !important;
    font-weight: 100 !important;
}

button.meedget_calc_next {
    background-image: none !important;
}

button.meedget_step_button {
    float: left !important;
    height: 44px !important;
    background: rgb(15,138,99) !important;
    color: #fff !important;
    font-family: 'Open Sans Light','Open Sans',Arial !important;
    border: none !important;
    cursor: pointer !important;
    padding: 0 17px !important;
    margin: 50px 0 0 !important;
}

#meedget_block button, #meedget_block ul {
    font-family: 'Open Sans Light','Open Sans',Arial !important;
}

#meedget_block button, #meedget_phone_input {
    float: left !important;
    font-weight: 100 !important;
}

#meedget_block button {
    height: 44px;
    position: inherit !important;
    background-image: url(https://meedget.ru/images/button_icon.png);
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-color: rgb(15,138,99) !important;
    color: #fff !important;
    font-size: 18px !important;
    border: none !important;
    cursor: pointer !important;
    padding: 0 17px 0 46px !important;
    margin: 25px 0 0 !important;
}



