#widget_meedget {
    color: #999999;
    /*font-family: "Raleway",sans-serif;*/
    font-weight: 400;
    text-rendering: optimizelegibility;
    overflow: hidden;
}

#widget_meedget {
    font-family: arial;
    font-size: 14px;
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 10000;
}

#meedget_block, #meedget_block div, #widget_meedget, a.close_meedget {
    box-sizing: content-box;
}

#widget_meedget {
    opacity: 0.9;
}

#widget_meedget ul {
    margin: 0;
    padding: 0;
}

#widget_meedget ul > li, p.h2 {
    text-transform: uppercase;
}

#widget_meedget ul > li {
    background: rgb(15, 138, 99) none repeat scroll 0 0;
    border-left: 1px solid rgb(35, 158, 119);
    border-top: 1px solid rgb(35, 158, 119);
    box-sizing: border-box;
    color: #444;
    font-weight: 700;
    list-style: outside none none;
    margin: 0;
    padding: 17px;
    text-decoration: none;
    width: 100%;
}

#widget_meedget ul > li {
    text-align: left;
}

#widget_meedget ul > li, #widget_meedget ul > li > a, a.close_meedget, a.meedget_back_link, a.meedget_call_link, a.meedget_next, a.meedget_prev, a.open_meedget {
    border-bottom-style: none;
}

#widget_meedget ul > li, a.close_meedget {
    line-height: normal;
}

#widget_meedget.roundcorner ul > li:first-child {
    border-top-left-radius: 13px;
}

#widget_meedget ul > li, a.close_meedget {
    line-height: normal;
}

a, a.inverted, a.white {
    color: #e14d43;
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
    transition: all 0.35s ease 0s;
}

a.meedget_calc {
    border-bottom: 0 none;
}

#widget_meedget ul > li, #widget_meedget ul > li > a, a.close_meedget, a.meedget_back_link, a.meedget_call_link, a.meedget_next, a.meedget_prev, a.open_meedget {
    border-bottom-style: none;
}

#widget_meedget.meedgetwhite ul > li > a {
    background-image: url("https://meedget.ru/images/menu_icon2.png");
    background-repeat: no-repeat;
    color: #fff;
    padding: 17px 0 17px 17px;
}

#widget_meedget ul > li > a {
    background-image: url("https://meedget.ru/images/menu_icon.png");
    background-repeat: no-repeat;
    color: #444;
    padding: 17px 0 17px 37px !important;
    text-decoration: none;
    width: 100%;
}

#widget_meedget.meedgetwhite a, #widget_meedget.meedgetwhite ul > li span {
    color: #fff;
}

#widget_meedget.meedgetwhite a, #widget_meedget.meedgetwhite ul > li span {
    color: #fff;
}

#widget_meedget span {
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#widget_meedget ul > li span {
    color: #444;
}

#widget_meedget.meedgetwhite a, #widget_meedget.meedgetwhite ul > li span {
    color: #fff;
}

#widget_meedget.roundcorner ul > li:last-child {
    border-bottom-left-radius: 13px;
}

a.meedget_gallery {
    background-position: 0 -162px;
}

/* close_meedget */
#widget_meedget.roundcorner a.close_meedget {
    border-bottom-left-radius: 10px;
}

#widget_meedget.meedgetwhite a.close_meedget {
    background-position: 7px -344px;
}

#widget_meedget.meedgetwhite a.close_meedget, #widget_meedget.meedgetwhite a.open_meedget, #widget_meedget.meedgetwhite.meedgetleft a.close_meedget, #widget_meedget.meedgetwhite.meedgetleft a.open_meedget {
    background-image: url(https://meedget.ru/images/menu_icon2.png) !important;
    color: #FFF !important;
}

#widget_meedget ul > li, a.close_meedget {
    line-height: normal !important;
}

a.close_meedget {
    background-position: 7px -344px;
    color: #444;
    height: 23px;
    font-size: 15px;
    font-weight: 400;
    padding: 4px 10px 0 27px !important;
    margin: -1px 0 0 !important;
}

a.close_meedget, a.open_meedget {
    float: right !important;
    background-color: rgb(15, 138, 99) !important;
    border-left: 1px solid rgb(35, 158, 119) !important;
    border-bottom: 1px solid rgb(35, 158, 119) !important;
    background-image: url(https://meedget.ru/images/menu_icon.png);
    text-decoration: none !important;
    background-repeat: no-repeat;
}

#widget_meedget ul > li, #widget_meedget ul > li > a, a.close_meedget, a.meedget_back_link, a.meedget_call_link, a.meedget_next, a.meedget_prev, a.open_meedget {
    border-bottom-style: none !important;
}

#meedget_block, #meedget_block div, #widget_meedget, a.close_meedget {
    box-sizing: content-box !important;
}

/* //close_meedget */

/* open_meedget */
#widget_meedget.roundcorner a.open_meedget {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#widget_meedget.meedgetwhite a.open_meedget {
    background-position: 7px -317px;
}

#widget_meedget.meedgetwhite a.close_meedget, #widget_meedget.meedgetwhite a.open_meedget, #widget_meedget.meedgetwhite.meedgetleft a.close_meedget, #widget_meedget.meedgetwhite.meedgetleft a.open_meedget {
    background-image: url(https://meedget.ru/images/menu_icon2.png) !important;
    color: #FFF !important;
}

a.open_meedget {
    line-height: normal !important;
    background-position: 7px -317px;
    border-top: 1px solid rgb(35, 158, 119) !important;
    padding: 27px 0 0 27px !important;
    margin: 0 !important;
}

a.close_meedget, a.open_meedget {
    float: right !important;
    background-color: rgb(15, 138, 99) !important;
    border-left: 1px solid rgb(35, 158, 119) !important;
    border-bottom: 1px solid rgb(35, 158, 119) !important;
    background-image: url(https://meedget.ru/images/menu_icon.png);
    text-decoration: none !important;
    background-repeat: no-repeat;
}

#widget_meedget ul > li, #widget_meedget ul > li > a, a.close_meedget, a.meedget_back_link, a.meedget_call_link, a.meedget_next, a.meedget_prev, a.open_meedget {
    border-bottom-style: none !important;
}

/* //open_meedget */

#meedget_popup {
    position: absolute !important;
    width: 100% !important;
    min-height: 100% !important;
    z-index: 9998 !important;
}

#meedget_block, #meedget_carousel-wrapper, #widget_meedget, .meedget_center, .meedget_copy, .meedget_images {
    overflow: hidden !important;
}

#meedget_block, #meedget_carousel-wrapper, #widget_meedget, .meedget_center, .meedget_copy, .meedget_images {
    overflow: hidden !important;
}

#meedget_block {
    position: relative !important;
    width: 472px !important;
    background: #fff !important;
    border: 3px solid rgb(15, 138, 99) !important;
    padding: 23px 85px 0 !important;
    margin: 3% auto !important;
}

#meedget_block {
    font-family: Arial;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

#meedget_block.roundcorner {
    border-radius: 13px;
}

a.meedget_close_link {
    margin-right: 20px !important;
    z-index: 999 !important;
}

a.meedget_close_link {
    position: absolute !important;
    right: 0 !important;
    background: url(https://meedget.ru/images/close_icon.png) no-repeat !important;
    padding: 25px 25px 0 0 !important;
    margin: 0 29px 0 0 !important;
}

#meedget_block h2 {
    color: #444 !important;
    font-size: 32px !important;
    font-family: 'Open Sans Light', 'Open Sans', Arial !important;
    font-weight: 100 !important;
    line-height: normal !important;
    margin: 33px 0 0 !important;
    padding: 0 !important;
}

#meedget_block, #meedget_block div, #widget_meedget, a.close_meedget {
    box-sizing: content-box !important;
}

#meedget_block div {
    float: left !important;
    width: 100%;
}

